@using System.Drawing
@using System.Globalization
@model Mhotivo.ParentSite.Models.HomeDisplayModel

<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">NUESTROS EVENTOS</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">NO TE LO PUEDES PERDER</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_green nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>

            @foreach (var @event in Model.EventDisplayModels)
            {
                <div class="grid grid_3">

                    <!--archive1-->
                    <div class="nicdark_archive1 nicdark_bg_green nicdark_radius nicdark_shadow">

                        <a href="#" class="nicdark_btn nicdark_bg_greydark white medium nicdark_radius nicdark_absolute_left">@Html.DisplayFor( model => @event.EventDate)<br /><small></small></a>

                        <div id="Photo" style="height: 270px">
                           
                            @{
                                var imgSrc = "";
                                if (@event.Photo != null)
                                {
                                    var base64 = Convert.ToBase64String(@event.Photo);
                                    imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                }
                                else
                                {
                                    var image = new Bitmap(Mhotivo.Implement.Properties.Resources.default_avatar);
                                    var defaultAvatar = new MemoryStream();
                                    image.Save(defaultAvatar, System.Drawing.Imaging.ImageFormat.Png);
                                    var base64 = Convert.ToBase64String(defaultAvatar.ToArray());
                                    imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                }
                            }
                            <img alt="" src="@imgSrc" style="max-width:100%;max-height:100%;"/>
                            </div>
                            <div class="nicdark_textevidence nicdark_bg_greydark">
                                <h4 class="white nicdark_margin20">@Html.DisplayFor(modelItem => @event.Title)</h4>
                            </div>

                            <div class="nicdark_margin20">
                                <h5 class="white"><i class="icon-pin-outline"></i>@Html.DisplayFor(modelItem => @event.Place)</h5>
                                <div class="nicdark_space10"></div>
                                <h5 class="white"><i class="icon-clock-1"></i>@Html.DisplayFor(modelItem => @event.ScheduleTime)</h5>
                                <div class="nicdark_space20"></div>
                                <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                                <div class="nicdark_space20"></div>
                                <p><font color="white">@Html.Raw(@event.Description)</font></p>
                                <div class="nicdark_space20"></div>

                            </div>

                        </div>
                    <!--archive1-->

                </div>
            }
      

       

        <div class="nicdark_space50"></div>

    </div>
    <!--end nicdark_container-->

</section>
<!--end section--><!--start section-->
<section id="nicdark_parallax_countdown" class="nicdark_section nicdark_imgparallax nicdark_parallaxx_img-teachers-1">
    <div class="nicdark_filter greydark">

        <!--start nicdark_container-->
        <div class="nicdark_container nicdark_clearfix">

            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>
            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>
            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>
            <div class="nicdark_space40"></div>
            <div class="nicdark_space50"></div>
        </div>
       
        </div>


</section>
<!--end section--><!--start section-->
<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">


        <div class="nicdark_space50"></div>


        <div class="grid grid_12">
            <h1 class="subtitle greydark">¿QUIENES HACEN ESTO POSIBLE?</h1>
            <div class="nicdark_space20"></div>
            <h3 class="subtitle grey">AUTORIDADES</h3>
            <div class="nicdark_space20"></div>
            <div class="nicdark_divider left big"><span class="nicdark_bg_orange nicdark_radius"></span></div>
            <div class="nicdark_space10"></div>
        </div>


        @foreach (var profile in Model.ProfileDisplayModels)
        {
            <div class="grid grid_6">

                <div class="nicdark_archive1 nicdark_bg_orange nicdark_radius nicdark_shadow">

                    <div class="nicdark_textevidence nicdark_width_percentage40 nicdark_width100_responsive" style="height: 200px">
                       

                            @{
                                var imgSrc = "";
                                if (profile.Photo != null)
                                {
                                    var base64 = Convert.ToBase64String(@profile.Photo);
                                    imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                }
                                else
                                {
                                    var image = new Bitmap(Mhotivo.Implement.Properties.Resources.default_avatar);
                                    var defaultAvatar = new MemoryStream();
                                    image.Save(defaultAvatar, System.Drawing.Imaging.ImageFormat.Png);
                                    var base64 = Convert.ToBase64String(defaultAvatar.ToArray());
                                    imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
                                }
                            }
                            <img alt="" src="@imgSrc" style="max-height: 100%; max-width: 100%;"  />
                        
                    </div>

                    <div class="nicdark_textevidence nicdark_width_percentage50 nicdark_width100_responsive">
                        <div class="nicdark_margin20">

                            <h4 class="white"><a class="white" href="#">@Html.DisplayFor(model => profile.FullName)</a></h4>
                            <div class="nicdark_space20"></div>
                            <div class="nicdark_divider left small"><span class="nicdark_bg_white nicdark_radius"></span></div>
                            <div class="nicdark_space20"></div>
                            <p class="white"><font color="WHITE">@Html.Raw(profile.Description)</font></p>
                            <div class="nicdark_space20"></div>
                        </div>
                    </div>

                    

                </div>

            </div>
        }

      
    <div class="nicdark_space50"></div>
    </div>
    <!--end nicdark_container-->

</section>